html, body {
	    position: relative;
        height: 85%;
		width: 100%;
		
		
    }
	  
#map-canvas {
		position: relative;
        height: 100%;
		width: 100%;
		
			  
	}	
.mapbuttons {
		position: relative;
		left:1%;
	}

	
img 
{
    max-width: none;
}